<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
        'path_videoconf_guest' => 'https://meeting.thestudnet.com/videoconference/',
	'db' => array(
		'adapters' => array(
			'db-adapter' => array(
				'driver' => 'pdo_Mysql',
				'dsn' => 'mysql:dbname=*****;host=*****',
				'username' =>  '******',
				'password' =>  '******',
				'driver_options' => array(
					PDO::MYSQL_ATTR_USE_BUFFERED_QUERY => true,
					PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\'',
					PDO::ATTR_PERSISTENT => true,
					PDO::ATTR_EMULATE_PREPARES => false
				),
			),
		),	
	),
	'node' => array(
        'addr' => 'http://192.168.1.36:8282'
    ),
    'dms-conf' => array(
        'size_allowed' => array(
            array('width' => 300, 'height' => 200),
            array('width' => 300, 'height' => 300),
            array('width' => 150, 'height' => 100),
            array('width' => 80, 'height' => 80),
            array('width' => 300),
        ),
        'check_size_allowed' => false,
        'default_path' => '*********',
    ),
	'log' => array(
		'log-system' => array(
			'writers' => array(
		 		array(
		 			'name' => 'syslog',
		 			'options' => array(
		 				'application' => 'thestudnet',
		 				'formatter' => array(
		 					'name' => 'simple',
		 					'options' => array(
		 						'format' => '%timestamp% (%priority%): %message%',
		 					),
		 				),
		 			),
		 		),
		 	),
		),
	),
	'http-adapter' => array(
		'adapter' => 'Zend\Http\Client\Adapter\Socket',
		'maxredirects'   => 5,
		'sslverifypeer'  => false,
		'timeout'        => 10,
	),
	'caches' => array(
		'storage_memcached' => array(
			'adapter' => array(
				'name' => 'memcached',
				'options' => array(
					'servers' => array(
						array('host' => 'localhost' , 'port' => '11211', 'weight' => 66),
						array('host' => 'localhost' , 'port' => '11211', 'weight' => 33)
					),
					'lib_options' => array(
						array('option' => Memcached::OPT_LIBKETAMA_COMPATIBLE, 'value' => true),
						array('option' => Memcached::OPT_SERIALIZER, 'value' => Memcached::SERIALIZER_IGBINARY),
						array('option' => Memcached::OPT_DISTRIBUTION, 'value' => Memcached::DISTRIBUTION_CONSISTENT),
					),
				),
			),
			'plugins' => array(
				'exception_handler' => array('throw_exceptions' => true),
			),
		),
	),
);
